<!DOCTYPE html>
<html>
<head>
	<title>Lab - Multimedia Programming 2563 ITKMITL</title>
	<link rel="stylesheet" type="text/css" href="../src/reset.css">
	<link rel="stylesheet" type="text/css" href="lab.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="canvas">
		<section id="canvas_header">
			<div>
				คะแนน {{score}} แต้ม
			</div>
		</section>
		<section id="canvas_main" 
		:data-play="play">
			<main>
				<div class="box _path" 
				v-for="i in 14" 
				:data-pst="i"></div>
				<div class="box _toggle" data-pst="10" data-isrightarrow="1"></div>

				<div class="box _fruit" :data-pst="f.pst" :data-type="f.type" v-for="f in fruits"></div>

				<div class="box _origin" data-pst="0"></div>
				<div class="box _12" data-pst="12"></div>
				<div class="box _14" data-pst="14"></div>
				
			</main>
		</section>
		<section id="canvas_footer">
			<div v-if="play" class="btn" id="toggle" @click="swapDirection">
				Toggle
			</div>
			<div v-if="!play" class="btn" id="endgame">
				End Game
			</div>
		</section>
	</div>

	<script>
		function rand(start,stop){
			let shift = (stop-start)+1
			return Math.floor(Math.random()*100%shift)+start
		}
		
		let fruitCount = 5
		let isRightArrow = 1
		let speed = 1
		let maxspeed = 5//ความเร็วสูงสุดที่ผลไม้จะขยับ
		let goalScore = 50//ทำการเพิ่มความเร็วทุกครั้งที่คะแนนถึงเป้าที่ตั้งเอาไว้
		let app = new Vue({
			el:'#canvas',
			data:{
				isRightArrow:isRightArrow,
				speed:speed,
				maxspeed:maxspeed,
				play:true,
				turn:0,
				score:0,
				goalScore:goalScore,
				fruits:[
					{id:1,type:0,pst:6,run:true,step:1},
					{id:2,type:1,pst:3,run:true,step:1},
					{id:4,type:0,pst:0,run:true,step:1},
				]
			},
			methods:{
				swapDirection: function(x){
					const arrow = document.querySelector('._toggle')
					if(this.isRightArrow == 1){
						this.isRightArrow = 0
						arrow.dataset.isrightarrow = 0
					}
					else {
						this.isRightArrow = 1
						arrow.dataset.isrightarrow = 1
					}
				}
			},
			computed:{

			},
			watch:{
				 turn: function(x){
				 	for(let i = 0; i < this.fruits.length; i++){
				 		let fruit = this.fruits[i]
				 		if (fruit.pst == 12) {
				 			fruit.pst = 0
				 			fruit.run = false
				 			if (fruit.type == 1) {
				 				this.score += 10
				 			}
				 			else {
				 				this.score -= 20
				 			}
				 			fruit.type = rand(0,1)
				 		}
				 		else if (fruit.pst == 14) {
				 			fruit.pst = 0
				 			fruit.run = false
				 			if (fruit.type == 0) {
				 				this.score += 10
				 			}
				 			else {
				 				this.score -= 20
				 			}
				 			fruit.type = rand(0,1)
				 		}
				 		if (fruit.run) {
				 			if (fruit.pst == 10 && this.isRightArrow == 1) {
				 				fruit.pst += 3
				 			}
				 			else {
				 				fruit.pst++
				 			}
				 		}
				 	}
				 }
			}
		})

		let playing = setInterval(playFn,1000/app.speed)
		function playFn(){
			app.turn++
			for(let i = 0; i < app.fruits.length; i++){
				let fruit = app.fruits[i]
				if (fruit.step < 1) {
					fruit.step++
				}
				else {
					fruit.run = true
				}
			}
			if (app.score == app.goalScore) {
				if (app.speed < maxspeed) {app.speed += 0.5}
				app.goalScore += 50
				clearInterval(playing);
				playing = setInterval(playFn,1000/app.speed)
			}
		}
	</script>
</body>
</html>